<form class="form-horizontal" role="form" name="employeeForm" novalidate >
	<div ng-init="getForm(employeeForm)">
		<div class="form-group" ng-class="{ 'has-error' : employeeForm.name.$invalid && !employeeForm.name.$pristine }">
			<label for="inputName" class="col-sm-2 control-label">Name</label>
			<div class="col-sm-10">
				<input
				type="text"
				name="name"
				data-ng-model="employee.name"
				class="form-control"
				id="inputName"
				placeholder="Name"
				required />
				<p ng-show="employeeForm.name.$invalid && !employeeForm.name.$pristine" class="help-block">Please enter employee name.</p>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : employeeForm.location.$invalid && !employeeForm.location.$pristine }">
			<label for="inputLoction" class="col-sm-2 control-label">Loction</label>
			<div class="col-sm-10">
				<input
				type="text"
				name="location"
				ng-model="employee.location"
				class="form-control"
				id="inputLoction"
				placeholder="Loction"
				required
				/>
				<p ng-show="employeeForm.location.$invalid && !employeeForm.location.$pristine" class="help-block">Please enter employee location.</p>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : employeeForm.dob.$invalid && !employeeForm.dob.$pristine }">
			<label for="inputDob" class="col-sm-2 control-label">Date of birth</label>
			<div class="col-sm-10">
				<input
				ng-model="employee.dob"
				data-date-format="yyyy-MM-dd"
				data-date-type="string"
				data-min-date="02/10/86"
				data-max-date="today"
				data-autoclose="1"
				name="dob"
				bs-datepicker
				type="text"
				class="form-control"
				id="inputDob"
				placeholder="Date of birth"
				required/>
				<p ng-show="employeeForm.dob.$invalid && !employeeForm.dob.$pristine" class="help-block">Please enter employe date of bith.</p>
			</div>
		</div>
		<div class="form-group" ng-class="{ 'has-error' : employeeForm.doj.$invalid && !employeeForm.doj.$pristine }">
			<label for="inputDoj" class="col-sm-2 control-label">Date of joining</label>
			<div class="col-sm-10">
				<input
				ng-model="employee.doj"
				data-date-format="yyyy-MM-dd"
				data-date-type="string"
				data-min-date="02/10/86"
				data-max-date="today"
				data-autoclose="1"
				name="doj"
				bs-datepicker
				type="text"
				class="form-control"
				id="inputDoj"
				placeholder="Date of joining"
				required/>
				<p ng-show="employeeForm.doj.$invalid && !employeeForm.doj.$pristine" class="help-block">Please enter employe date of joining.</p>
			</div>
		</div>
		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button
				type="submit"
				class="btn"
				data-ng-disabled="employeeForm.$invalid"
				data-ng-class="{'btn-default':employeeForm.$invalid,'btn-success':!employeeForm.$invalid}"
				data-ng-click="save()">Save</button>
			</div>
		</div>
	</div>
</form>