<div class="jumbotron">
	<h3>Welcome to, Employee Management panel</h3>
	<p>This is an single page application to manage employee with CURD operation. This application is easy to extend with more features.</p>
	<h4>This application is having following features</h4>
	<ul class="list-group">
		<li class="list-group-item">Listing all employee</li>
		<li class="list-group-item">Easy navigation</li>
		<li class="list-group-item">Add employee(Client side form validations)</li>
		<li class="list-group-item">Edit employee(Client side form validations)</li>
		<li class="list-group-item">Delete employee</li>
	</ul>
	<h4>AngularJs Modules</h4>
	<ul class="list-group">
		<li class="list-group-item">Angular UI Router</li>
		<li class="list-group-item">Angular Twitter bootstrap</li>
		<li class="list-group-item">Angular LocalStorage</li>
	</ul>
	<p>
	<a role="button" ui-sref="employees.list" class="btn btn-lg btn-primary">Employee management »</a>
	</p>
</div>